In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/NLP Project/ABB final/Airbnb_nlp.csv'

df=pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'scrape_id', 'name', 'summary',
       'description', 'host_id', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_has_profile_pic', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'country', 'property_type', 'room_type',
       'accommodates', 'price', 'cleaning_fee', 'calendar_last_scraped',
       'number_of_reviews', 'reviews_per_month', 'last_review',
       'review_scores_rating', 'review_scores_cleanliness'],
      dtype='object')

In [ ]:
df.shape

(1412578, 28)

In [ ]:
df=df[['id', 'name', 'summary','description', 'host_id','host_about','host_location', 'calendar_last_scraped']]
df.head()

,id,name,summary,description,host_id,host_about,host_location,calendar_last_scraped
0,986942.0,Attic in Echo Park Hillside House,NaN,"Hi Travelers! We have a sweet, spacious attic ...",959023,Hi I'm Jonathan. I'm a parent & an artist. I'v...,"Los Angeles, California, United States",2015-09-02
1,3249753.0,Art BNB @ Nomad Printmaking Studio,"Our Punk Shui industrial art space has cool, c...","Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,"Los Angeles, California, United States",2015-09-02
2,3250095.0,Art BNB @ nomaD Printmaking Studio,"Our Punk Shui industrial art space has cool, c...","Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,"Los Angeles, California, United States",2015-09-02
3,3250595.0,Art BNB @ nomAd Printmaking Studio,"Our Punk Shui industrial art space has cool, c...","Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,"Los Angeles, California, United States",2015-09-02
4,1941493.0,1915 L.A. River Retreat - Two Bed,Enjoy city & mountain views from the upper uni...,Enjoy city & mountain views from the upper uni...,10042199,"I love history and rivers. My building, which ...","Los Angeles, California, United States",2015-09-02

In [ ]:
(df.host_location.value_counts())[0:5]

Los Angeles, California, United States      775528
US                                          162772
Long Beach, California, United States        34751
Santa Monica, California, United States      33956
Beverly Hills, California, United States     23770
Name: host_location, dtype: int64

In [ ]:
# subsetting on LA as is the most prominent location
# We could change the location as per our requirement and data in future here.

df_la = df[df['host_location']=='Los Angeles, California, United States']

In [ ]:
df_la.shape

(775528, 8)

In [ ]:
df_la.nunique()

id                        70817
name                     101137
summary                  102210
description              128217
host_id                   34768
host_about                32277
host_location                 1
calendar_last_scraped        82
dtype: int64

In [ ]:
df_la.isna().sum()

id                            0
name                         49
summary                   26686
description                9885
host_id                       0
host_about               203530
host_location                 0
calendar_last_scraped         0
dtype: int64

In [ ]:
# Filling up empty description with their respective summary if it is not empty, only 11 were there.

df_la.description.fillna(df_la.summary,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
df_la.isna().sum()

id                            0
name                         49
summary                   26686
description                9875
host_id                       0
host_about               203530
host_location                 0
calendar_last_scraped         0
dtype: int64

In [ ]:
# confirming that we have description non empty here
(df_la['description'].isna() & ~df_la['summary'].isna()).sum()

0

In [ ]:
# only the needed columns
df_la_text=df_la[['id', 'name', 'description','host_id','host_about', 'calendar_last_scraped']]

In [ ]:
df_la_text.head()

,id,name,description,host_id,host_about,calendar_last_scraped
0,986942.0,Attic in Echo Park Hillside House,"Hi Travelers! We have a sweet, spacious attic ...",959023,Hi I'm Jonathan. I'm a parent & an artist. I'v...,2015-09-02
1,3249753.0,Art BNB @ Nomad Printmaking Studio,"Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,2015-09-02
2,3250095.0,Art BNB @ nomaD Printmaking Studio,"Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,2015-09-02
3,3250595.0,Art BNB @ nomAd Printmaking Studio,"Our Punk Shui industrial art space has cool, c...",12772297,My name is Damon Robinson. I am an LA based ar...,2015-09-02
4,1941493.0,1915 L.A. River Retreat - Two Bed,Enjoy city & mountain views from the upper uni...,10042199,"I love history and rivers. My building, which ...",2015-09-02

In [ ]:
# Saving in csv to use for topic modelling
df_la_text.to_csv('Airbnb_la_text_nlp.csv')

In [36]:
# Copying to drive (if using the google drive)/content/drive/MyDrive/NLP Project/ABB final
!cp Airbnb_la_text_nlp.csv "drive/My Drive/NLP Project/ABB final"